@font-face {
    font-family: "RobotoFlex";
    src: url("../../src/fonts/RobotoFlex/RobotoFlex.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Degular";
    src: url("../../src/fonts/Degular/degular-black.otf");
    font-display: swap;
  }
